// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;


//Project colors :
$blue-link:     #4074F2;
$green-btn:     #A2FAA3;
$blue-light:    #91ADC5;
$blue-dark:     #376996;
$orange-light:  #DE945E;
$orange-dark:   #CC5803;
$green-light:   #B6EE8A;
$green-dark:    #95C371;
$grey:          #9B9B9B;
