// @import url(font-awesome.min.css);



.home-main-container {
  width: 100%;
    color: $blue-dark;
    font-size: 15pt;
    font-weight: 400;

    h1, h2 {
    color: $blue-dark;
    font-weight: 800;
    letter-spacing: 0.225em;
    line-height: 1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    }
  }

  /* Image */

  .image {
    border-radius: 3px;
    border: 0;
    display: inline-block;
    position: relative;
  }

    .image img {
      border-radius: 3px;
      display: block;
      height: 300%;
      width: 300%;
    }

    .image.left {
      float: left;
      margin: 0 2em 2em 0;
      top: 0.25em;
    }

    .image.right {
      float: right;
      margin: 0 0 2em 2em;
      top: 0.25em;
    }

    .image.left, .image.right {
      max-width: 40%;
    }

      .image.left img, .image.right img {
        width: 100%;
      }

    .image.fit {
      display: block;
      margin: 0 0 2em 0;
      width: 100%;
    }

      .image.fit img {
        width: 100%;
      }

    .comment p {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
    }

    .content p {
      font-family: 'Raleway', sans-serif;
    }

    .label_color {
      color: $blue-dark;
      font-weight: bold;
    }

  .ellipse2 {
  -webkit-clip-path: ellipse(50% 65% at 70% 50%);
  clip-path: ellipse(50% 65% at 70% 50%);
}

  .ellipse3 {
  -webkit-clip-path: ellipse(50% 65% at 34% 50%);
  clip-path: ellipse(50% 65% at 32% 50%);
}

.icons {
  display: flex;
  justify-content: space-around;
  img{
  width: 100px;
  }
}

.icons li {
  width: 250px;
}

/* Spotlight */

  .spotlight {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

  }


  .spotlight .image {
      -moz-order: 1;
      -webkit-order: 1;
      -ms-order: 1;
      order: 1;
      border-radius: 0;
      width: 40%;
    }

      .spotlight .image img {
        border-radius: 0;
        width: 100%;
      }

    .spotlight .content {
      padding: 2em 4em 0.1em 4em ;
      -moz-order: 2;
      -webkit-order: 2;
      -ms-order: 2;
      order: 2;
      max-width: 48em;
      width: 60%;
    }

    .spotlight:nth-child(2n) {
      -moz-flex-direction: row-reverse;
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
    }

    .spotlight:nth-child(1) {
      background-color: rgba(0, 0, 0, 0.075);
    }

    .spotlight:nth-child(2) {
      background-color: rgba(0, 0, 0, 0.15);
    }

    .spotlight:nth-child(3) {
      background-color: rgba(0, 0, 0, 0.225);
    }

/* Wrapper */

  .wrapper {
    padding: 6em 0 4em 0 ;
  }

    .wrapper > .inner {
      width: 60em;
      margin: 0 auto;
    }

    .wrapper.alt {
      padding: 0;
    }

    .wrapper.style1 strong, .wrapper.style1 b {
        color: #ffffff;
    }

      .wrapper.style1 h2 {
        color: $blue-dark;
      }

     .wrapper.style1 header.major p {
        color: $blue-dark;
      }

     .wrapper.style2 {
      background-color: #2e3842;
      .spotlight { color: white

      }
    }

    .wrapper.style3 {
      background-color: #505393;
      color: #d3d4e4;
    }
