.training_session_show {
  padding: 10px 30px 30px 30px;
  // background-color: white;
  // margin: 10px;
  // // width: px;
  // border-radius: 4px;
  // box-shadow: 1px 1px 4px #E6E6E6;
  h3 {
    color: black;
  }
  p{
    color: black;
    // width: 70%;
    }
  }

a {
  color: black;

}

.wrapper {
  padding: 10px 30px 30px 30px;
  background-color: white;
  margin: 10px;
  // width: px;
  border-radius: 4px;
  box-shadow: 1px 1px 4px #E6E6E6;
  display: flex;
  justify-content: center;
  width: 800px;
}

.text-center {
  color: black;
}

