<div class="container ">
  <div class="row ">
    <div class="col-xs-12">
      Objectif id :<%= @objective.id %>
      <%= link_to 'runs', objective_runs_path(@objective) %>

    </div>
  </div>
</div>
