.category-choices {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 20px 0;
}

.overflow {
  overflow: scroll;
}
.question-card {
  position: relative;
  width: 100%;
  padding-bottom: 0px;
  height: 80vh;

}

.level_icone_blue {
  display: none;
}



.category-choice_1, .category-choice_2, .category-choice_3 {
  background: #2F55B1;
  color: white;
  padding: 40px 20px ;
  border-radius: 5px;
  margin: 5px 5px;
  flex: 0 0 30%;
  text-align: center;
  // display: flex;
  width: 220px;
  height: 300px;
  transition: all 0.5s ease;

  &:hover {
    background: $green;
    cursor: pointer;
    font-weight: bolder;
    color: white;

  }
  &.active {
  background: $green;


  }
}

.category-choice_1, .category-choice_2, .category-choice_3 {
   &:hover .level_text{
   font-weight: bolder;
  }
  &.active .level_text {

   font-weight: bolder;
  }
}
 .quiz_title {
    font-family: $font-family;
    font-size: 48px;
    font-weight: lighter;
    letter-spacing: 3px;
    text-align: left;
    color: white;
    margin-top: 40px;
    position: sticky;
    background: transparent;
    // padding-top: 10px;
    // text-align: center;
    height: 10vh;

  }
.quiz-form-login {
  // background: rgba(250, 250, 250, 0.6);
  color: white;
  margin-bottom: 20px;
  border-radius: 3px;
}

.level_icone {
  padding-bottom: 10px;
}
.level_text {
  letter-spacing: 3px;
  font-weight: lighter;
}

.level_text {
  letter-spacing: 3px;
  font-weight: lighter;
  padding-top: 14px;
 }

.question_quiz_two {
  font-size: 36px;
  margin-bottom: 0px;
  label {
  font-weight: lighter;
  color: white;
  padding-bottom: 20px;
  }
}

.question_quiz_three {
  font-size: 36px;
  label {
  font-weight: lighter;
  color: white;
  padding-bottom: 40px;
  }
}

.question_quiz {
  font-size: 36px;
  margin-bottom: 50px;
  label {
  font-weight: lighter;
  color: white;
  }
}


.last-question {
  position: relative;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

.space {
 padding-bottom: 300px;
}

#inter-1 {
  padding-bottom: 30px;
}

.category-choices-2 {
  padding-bottom: 80px;
  margin-top: 35px;
}

.category-choice_2 {
  align-item: center;
}

.banner-quiz {
  height: calc(100vh);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  justify-content: center;
  background-attachment: fixed;
}

.overflow-height {
  height: 80vh;
}

.quizz-error {
  color: white;
  padding: 3px;
  background-color: $red;
  border-radius: 3px;
  text-align: center;
}

