<div class="banner" style="background-image: linear-gradient(to right, rgba(10, 207, 254, 0.7) 0%, rgba(73, 90, 255, 0.7) 100%), url(<%= image_path 'home-run.jpg'%>);">
  <div class="banner-content">
    <h1 class="home-title">EASY RUN</h1>
    <h2 class="home-subtitle">Find your Marathon and run it.</h2>
    <br>
        <div class="input-group input-group-lg search-btn">

  <input type="text" class="form-control-home" placeholder=" Marathon by city" aria-describedby="sizing-addon2">

        <span><div class="btn-home">
          <%= submit_tag "RUN", :class => "btn btn-primary btn-lg btn-home-design" %>
        </div></span>
      </div>
    </div>
  </div>
</div>
