<div class="banner" style="background-image: linear-gradient(to right, rgba(10, 207, 254, 0.7) 0%, rgba(73, 90, 255, 0.7) 100%), url(<%= image_path 'home-run.jpg'%>);">
  <div class="banner-content">
    <h1 class="home-title">EASY RUN</h1>
    <h2 class="home-subtitle">Find your Marathon and run it.</h2>
    <br>

    <% if user_signed_in? %>
      <%= link_to "Run with us!" , objective_runs_path(current_user.objectives.last.id), class: "btn btn-primary btn-lg btn-home-design" %>
    <% else %>

      <%= link_to "Run with us!" , new_user_session_path, class: "btn btn-primary btn-lg btn-home-design" %>
    <% end %>

  </div>
</div>


