<div class="banner" style="background-image: linear-gradient(to right, rgba(10, 207, 254, 0.7) 0%, rgba(73, 90, 255, 0.7) 100%), url(<%= image_path 'home-run.jpg'%>);">
  <div class="banner-content">
    <h1 class="home-title">EASY RUN</h1>
    <h2 class="home-subtitle">Find your Marathon and run it.</h2>
    <br>

    <%= link_to "Run with us!" , quiz_form_profile_path, class: "btn btn-primary btn-lg btn-home-design" %>

  </div>
</div>


