<div class="modal fade" id="raceModal-<%= race.id %>">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-content-er">
      <div class="modal-body modal-body-er text-center">
        <h5 class="modal-title">Vous avez sélectionné la course suivante :</h5>
          <div class="flexbox-center">
            <%= render partial: 'shared/modalcards', locals: {race: race} %>
          </div>
          <%= link_to race.url, target: "_blank" do  %>
                <p><i class="fas fa-eye"></i> Plus d'infos sur la course</p>
              <% end %>
          <h5> Nous allons vous proposer d'autres courses qui vous permettront d'atteindre cet objectif </h5s>
        </div>
      <div class="modal-footer">
        <%= link_to 'Go !', race_objectives_path(race), method: :post, class: "btn btn-primary btn-primary-er" %>
      </div>
    </div>
  </div>
</div>
