// Card pour timeline
.card-race {
  height: 230px;
  width: 160px;
  margin: 10px;
  text-align:center;
  padding: 8px 8px 50px 8px;
  border-radius:8px;
  background: $grey;
  color: white;
  position: relative;
  box-shadow: 1px 1px 2px $grey;

  p {
    margin: 12.5px 0 12.5px;
    font-size: 18px;
  }
}

.card-race-detail {
  padding: 0 4px;
  display:flex;
  flex-direction:column;
  height: 100%;
  width: 100%;
  background: white;
  justify-content:space-between;
  align-items:center;
  border-radius:8px;
  color: $grey;
  &::after {
    content: '◢';
    font-size: 36px;
    position: absolute;
    transform: rotate(45deg);
    bottom: -25px;
    left: 97px;
    color: inherit;
  }
  h3 {
    font-size: 15px;
    margin-top: 8px;
  }
  h4 {
    font-size: 12px;
  }
}

.card-race-10000 {
  background: $blue-dark;
}

.card-race-detail-10000 {
  color: $blue-dark;
  &::after {
    content: '◢';
    font-size: 36px;
    position: absolute;
    transform: rotate(45deg);
    bottom: -25px;
    left: 97px;
    color: inherit;
  }
}

.card-race-21100, .card-race-21097 {
  background: $green-dark;
}

.card-race-detail-21100, .card-race-detail-21097 {
  color: $green-dark;
  &::after {
    content: '◢';
    font-size: 36px;
    position: absolute;
    transform: rotate(45deg);
    bottom: -25px;
    left: 97px;
    color: inherit;
  }
}

.card-race-42195 {
  background: $orange-dark;
}

.card-race-detail-42195 {
  color: $orange-dark;
  &::after {
    content: '◢';
    font-size: 36px;
    position: absolute;
    transform: rotate(45deg);
    bottom: -25px;
    left: 97px;
    color: inherit;
  }
}

.card-back {
  height: 230px;
  width: 160px;
  padding-top: 40px;
  margin: 10px;
  text-align:center;
  border-radius:8px;
  background: $grey;
  color: white;
  position: relative;
  box-shadow: 1px 1px 2px $grey;
  a {
    text-decoration: none;
    color:white;
  }

  p {
    margin: 0;
    font-size: 15px;
  }
  &::after {
    content: '◢';
    font-size: 36px;
    position: absolute;
    transform: rotate(45deg);
    bottom: -25px;
    left: 97px;
    color: $grey;
  }
}

.card-back-10000 {
  background: $blue-dark;
  &::after {
    color: $blue-dark;
  }
}

.card-back-21100, .card-back-21097 {
  background: $green-dark;
  &::after {
    color: $green-dark;
  }
}

.card-back-42195 {
  background: $orange-dark;
  &::after {
    color: $orange-dark;
  }
}

.card-date {
  height: 230px;
  width: 230px;
  margin: 10px;
  margin-top: 24px;
  text-align:center;
  padding: 8px 8px 50px 8px;
  border-radius:8px;
  color: $grey;
  background: white;
  position: relative;

  p {
    margin: 12.5px 0 12.5px;
    font-size: 18px;
  }
  &::before {
    content: '◢';
    font-size: 36px;
    position: absolute;
    transform: rotate(225deg);
    top: -24px;
    left: 97px;
    color: white;
  }
}

//Cards pour resultats de recherche
.card-race-results, .card-race-results-1, .card-race-results-2, .card-race-results-3 {
  height: 42vh;
  width: 100%;
  margin: 40px 10px;
  text-align:center;
  padding: 5px 5px 55px 5px;
  border-radius:8px;
  background: $grey;
  color: white;
  position: relative;
  box-shadow: 1px 1px 2px $grey;
  
  p {
    margin: 12.5px 0 12.5px;
    font-size: 24px;
    position: relative;
    bottom: 5px;
    color: white;
  }
  &.active {
    background: black;
  }
  h3 {
    font-family: $body-font;
    
  }
}

// .race-results {
//   overflow: scroll;
//   width: 100%;
//   padding-right: 15px;
// }

.overlay {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 33vh;
  width: 17.9vw;
  opacity: 0;
  transition: .5s ease;
  background-color: $grey;
  border-radius: 8px;
}

.overlay-10000 {
  background-color: #B6EE8A;
}

.overlay-21100, .overlay-21097 {
  background-color: #B6EE8A;
}

.overlay-42195 {
  background-color: #B6EE8A;
}


.overlay:hover {
  opacity: 1;
}
.text {
  color: white;
  font-size: 10px;
  font-family: $body-font;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  p {
    font-family: $body-font;
  }
  p:last-child {
    font-size: 14px; 
    text-align: center; 
    text-decoration: underline;
    bottom: 27px;
    font-weight: bold;
    font-family: $body-font;
   }
}

.card-race-results-detail {
  padding: 10px 30px 0 30px;
  display:flex;
  flex-direction:column;
  height: 100%;
  width: 100%;
  background: white;
  justify-content:space-around;
  align-items:center;
  border-radius:8px;
  color: $grey;

  h3 {
    position: absolute;
    top: 10px;
    font-size: 25px;
    text-align: center;
    padding: 5px;
  }
  h4 {
    position: absolute;
    bottom: 50px;
    font-size: 20px;
    font-family: $body-font;
    color:  #070d59;;
  }


}
.card-race-results-10000 {
  background: $blue-dark;
}

.card-race-results-detail-10000 {
  color: $blue-dark;
}

.card-race-results-21100, .card-race-results-21097{
  background: $green-dark;
}

.card-race-results-detail-21100, .card-race-results-detail-21097 {
  color: $green-dark;
}

.card-race-results-42195 {
  background: #070d59;
  p {
    font-family: $font-family;
  }
}

.card-race-results-detail-42195 {
  color: #070d59;
}


.card-date-result {
  position : absolute;
  top: 22px;
  left: 55card-px;
  border: 1px solid rgba(0, 0, 255, .2);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 255, .2);
  background: $grey;
  border-radius: 5px;
  height: 35px;
  width: 130px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

}

.card-date-results-10000 {
  background: $blue-dark;
}

.card-date-results-21100, .card-date-results-21097{
  background: $green-dark;
}

.card-date-results-42195 {
  background: #A2FAA3;
}


.date-details {
  text-align: center;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
  color: #376996;
}

.flexbox-center {
  display: flex;
  justify-content: center;
}

.banner-home {
  color: white;
  height: calc(100vh);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 1;
  margin-bottom: 5px;
}

//


// .card {
//   height: 175px;
//   text-shadow: 0 1px 3px rgba(0,0,0,0.6);
//   background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://picsum.photos/200/300/?random');
//   background-size: cover !important;
//   background-position: center;
//   color: white;
//   position: relative;
//   margin: 10px;
// }
// .card-user {
//   position: absolute;
//   right: 10px;
//   top: 10px;
//   width: 40px;
//   border-radius: 50%;
// }
// .card-category {
//   position: absolute;
//   top: 10px;
//   left: 10px;
//   font-size: 15px;
//   text-transform: uppercase;
// }
// .card-description {
//   position: absolute;
//   bottom: 10px;
//   left: 10px;
// }
// .card-description h2 {
//   font-size: 24px;
// }
// .card-description p {
//   font-size: 14px;
//   opacity: 0.7;
//   font-weight: lighter;
// }
// .card-link {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   width: 100%;
//   z-index: 2;
//   background: black;
//   opacity: 0;
// }
// .card-link:hover {
//   opacity: 0.1;
// }





