// Card pour timeline
.card-race {
  height: 230px;
  width: 160px;
  margin: 10px;
  text-align:center;
  padding: 8px 8px 50px 8px;
  border-radius:8px;
  background: $blue-dark;
  color: white;
  position: relative;
  box-shadow: 1px 1px 2px $blue-dark;

  p {
    margin: 12.5px 0 12.5px;
    font-size: 18px;
  }
}

.card-race-detail {
  padding: 0 4px;
  display:flex;
  flex-direction:column;
  height: 100%;
  width: 100%;
  background: white;
  justify-content:space-between;
  align-items:center;
  border-radius:8px;
  color: $blue-dark;
  &::after {
    content: '◢';
    font-size: 36px;
    position: absolute;
    transform: rotate(45deg);
    bottom: -25px;
    left: 97px;
    color: inherit;
  }
  h3 {
    font-size: 15px;
    margin-top: 5px;
  }
  h4 {
    font-size: 12px;
  }
}

// .card-race-10000 {
//   background: $blue-dark;
// }

// .card-race-detail-10000 {
//   color: $blue-dark;
//   &::after {
//     content: '◢';
//     font-size: 36px;
//     position: absolute;
//     transform: rotate(45deg);
//     bottom: -25px;
//     left: 97px;
//     color: inherit;
//   }
// }

// .card-race-21100, .card-race-21097 {
//   background: $green-dark;
// }

// .card-race-detail-21100, .card-race-detail-21097 {
//   color: $green-dark;
//   &::after {
//     content: '◢';
//     font-size: 36px;
//     position: absolute;
//     transform: rotate(45deg);
//     bottom: -25px;
//     left: 97px;
//     color: inherit;
//   }
// }

// .card-race-42195 {
//   background: $orange-dark;
// }

// .card-race-detail-42195 {
//   color: $orange-dark;
//   &::after {
//     content: '◢';
//     font-size: 36px;
//     position: absolute;
//     transform: rotate(45deg);
//     bottom: -25px;
//     left: 97px;
//     color: inherit;
//   }
// }

.card-back {
  height: 230px;
  width: 160px;
  padding-top: 40px;
  margin: 10px;
  text-align:center;
  border-radius:8px;
  background: $blue-dark;
  color: white;
  position: relative;
  box-shadow: 1px 1px 2px $blue-dark;
  a {
    text-decoration: none;
    color:white;
  }

  p {
    margin: 0;
    font-size: 15px;
  }
  &::after {
    content: '◢';
    font-size: 36px;
    position: absolute;
    transform: rotate(45deg);
    bottom: -25px;
    left: 97px;
    color: $blue-dark;
  }
}

// .card-back-10000 {
//   background: $blue-dark;
//   &::after {
//     color: $blue-dark;
//   }
// }

// .card-back-21100, .card-back-21097 {
//   background: $green-dark;
//   &::after {
//     color: $green-dark;
//   }
// }

// .card-back-42195 {
//   background: $orange-dark;
//   &::after {
//     color: $orange-dark;
//   }
// }

.card-date {
  height: 230px;
  width: 230px;
  margin: 10px;
  margin-top: 24px;
  text-align:center;
  padding: 8px 8px 50px 8px;
  border-radius:8px;
  color: $green;
  background: white;
  position: relative;

  p {
    margin: 12.5px 0 12.5px;
    font-size: 18px;
  }
  &::before {
    content: '◢';
    font-size: 36px;
    position: absolute;
    transform: rotate(225deg);
    top: -24px;
    left: 97px;
    color: white;
  }
}

//Cards pour resultats de recherche
.card-race-results, .card-race-results-1, .card-race-results-2, .card-race-results-3 {
  height: 270px;
  width: 200px;
  margin: 40px 10px;
  text-align:center;
  padding: 5px 5px 90px 5px;
  border-radius:8px;
  background: $blue-dark;
  color: white;
  position: relative;
  box-shadow: 1px 1px 2px $blue-dark;
  p {
    margin: 12.5px 0 12.5px;
    font-size: 24px;
    color: white;
    font-family: $font-family;
    letter-spacing: 5px;
  }

  h5 {
    font-family: $body-font;
    color: $green;
    font-size: 15px;
    padding: 0px 15px;
  }

  &.active {
    background: black;
  }
  h3 {
    display: flex;
    font-family: $body-font;
    text-align: center;
    justify-content: center;

  }
}

// .race-results {
//   overflow: scroll;
//   width: 100%;
//   padding-right: 15px;
// }

.overlay {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 4px;
  opacity: 0;
  transition: .5s ease;
  background-color: $green;
  border-radius: 8px;
}

// .overlay-10000 {
//   background-color: $green;
// }

// .overlay-21100, .overlay-21097 {
//   background-color: $green;
// }

// .overlay-42195 {
//   background-color: $green;
// }


.overlay:hover {
  opacity: 1;
}
.card-hover-text {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  p {
    font-family: 'Raleway';
    color: $blue-dark;
    font-size: 18px;
  }
  p:last-child {
    color: $blue-dark;
    font-size: 14px;
    text-align: center;
    text-decoration: underline;
    bottom: 10px;
    font-weight: bold;
    padding-bottom: 30px;
   }
}

.card-race-results-detail {
  padding: 5px 2px;
  display:flex;
  flex-direction:column;
  height: 100%;
  width: 100%;
  background: white;
  justify-content:space-around;
  align-items:center;
  border-radius:8px;
  color: $blue-dark;
  h3 {
    text-align: center;
    padding: 5px 5px;
    font-size: 20px;
    margin-top: 0;
  }
}
// .card-race-results-10000 {
//   background: $blue-dark;
// }

// .card-race-results-detail-10000 {
//   color: $blue-dark;
// }

// .card-race-results-21100, .card-race-results-21097{
//   background: $green-dark;
// }

// .card-race-results-detail-21100, .card-race-results-detail-21097 {
//   color: $green-dark;
// }

// .card-race-results-42195 {
//   background: $blue-dark;
// }

// .card-race-results-detail-42195 {
//   color: $blue-dark;
// }


.card-date-result {
  position : absolute;
  top: 22px;
  left: 55card-px;
  border: 1px solid rgba(0, 0, 255, .2);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 255, .2);
  background: $green;
  border-radius: 5px;
  height: 35px;
  width: 130px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .card-date-results-10000 {
//   background: $blue-dark;
// }

// .card-date-results-21100, .card-date-results-21097{
//   background: $green-dark;
// }

// .card-date-results-42195 {
//   background: $green;
// }


.date-details {
  text-align: center;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
  color: $blue-dark;
}

.flexbox-center {
  display: flex;
  justify-content: center;
}

.banner-home {
  color: white;
  height: calc(100vh);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: white;
  opacity: 1;
  margin-bottom: 5px;
}





