.dash-flexbox {
  display: flex;
  align-items: stretch;
  position: relative;

}

.week-number {
  color: $blue-dark;
  font-size: 20px;
  margin-left: 15px;
  font-family: 'Raleway';
  font-weight: light;
  text-decoration: none;
}

.week-navigator {
  color: $blue-dark;
  font-size: 20px;
  text-decoration: none;
}

.dash-flex-column {
  flex-direction: column;
}

.dash-races {
  width: 500px;
  margin: 20px 10px 20px 40px;
  padding: 10px 20px;
}

.dash-trainings {
  height:110vh;
  flex-grow: 1;
  margin: 20px 40px 20px 10px;
  padding: 10px 20px;
  position: sticky;
  top: 0;
}

.dash-cards {
  // width: 500px;
  align-self: flex-start;
  margin-left: 20px;


}

.dash-card {
  align-self: flex-start;
  width: 500px;

}

.load-bar-back{
  height:100%;
  margin: 10px 40px 10px 20px;
  // border:1px solid $grey;
  border-radius:25px;
  overflow:hidden;
  background: white;
  box-shadow: inset 1px 2px 4px #e6e6e6;
}

.timeline-bar{
  border: none;
  border-right: 3px dotted $blue-dark;
  width: 100px;
  height:100%;
  margin: 0;
  // border:1px solid $grey;
  position: absolute;
}


.load-bar-back-hor{
  width:100%;
  margin: 10px 20px 10px 10px;
  // border:1px solid $grey;
  border-radius:20px;
  overflow:hidden;
  background: white;
  box-shadow: inset 1px 2px 4px #e6e6e6;
}

.load-bar-front-hor{
  height:25px;
  border-radius:20px;
  background: linear-gradient(#0acffe 0%, #495aff 100%);
}

.dash-title {
  font-family: 'Raleway';
  text-align: left;
  font-weight: lighter;
  padding-bottom: 10px;
  margin-left: 20px;
  h1 {
    font-size: 23px;
    font-family: 'Raleway';
    font-weight: lighter;
  }

}

.dash-percent {
  text-transform: uppercase;
  font-family: 'Fredoka One';
  color : $blue-dark;
  font-size: 46px;
}

.dash-span {
  font-size: 40px;
}

.dash-training-card {
  margin: 10px;
  width: 100%;
  height: 175px;
  background: white;
  border-radius: 8px;
  box-shadow: 1px 1px 2px #e6e6e6;

}

.dash-training-image {
  margin-right: 20px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

  // min-height: ;
  min-width: 215px;
  height: 100%;
  width:100%;
  background-size: cover !important;
}

.dash-training-desc {
  color: rgba(0, 0, 0, 0.7);
  width: 240%;
  padding: 10px 20px;
  margin-right: 20px;
  position: relative;
  h2 {
    font-family: 'Raleway';
    font-size: 32px;
    font-weight: lighter;
    margin-top: 2px;
  }

  hr {
    margin-top: 10px;
    margin-bottom: 15px;
    border-top: 1px solid black;
  }
  p {
    font-size: 14px;
  }
  .training-desc {
    color: black;
  }
}

.add-race {
  margin-top:10px;
  margin-bottom: 10px;
  font-weight: bolder;
  a {
    font-size: 14px;
  }

}

.add_training_plan a:hover {
    text-decoration: none;
}
.add_training_plan {
  box-shadow: 1px 1px 2px #e6e6e6;

  &:hover {
    opacity: 0.7;
    transition: all 0.1s ease;
    text-decoration: none;
  }
}

.add {
  display: flex;
  align-item: center;
  opacity: 0.75;
  padding-top: 45px;
  padding-left: 30px;
}

.dash-training-desc p {
  color: black;
}

.training_session_week_index {
  position: absolute;
  bottom: 15px;
  left: 30px;
  font-size: 14px;
}

.training_session_position {
  position: absolute;
  opacity: 0.2;
  font-size: 95px;
  font-family: $font-family;
  bottom: 45px;
  left: 5px;
  color: $blue-dark;
}

.dash-training-desc-text {
  background: white;
    margin-left: 253px;
    padding-left: 30px;
    padding-top: 15px;
    margin-top: -8px;
    padding-bottom: 15px;
    width: 520px;
    border-radius: 5px;
    letter-spacing: 1px;
    opacity: 0.8;
}

.training-nil {
  text-align: center;
}
