#ara-hover, #bfc-hover, #b-hover, #cvdl-hover, #c-hover, #ge-hover, #hdf-hover, #idf-hover, #n-hover, #na-hover, #o-hover, #pdll-hover, #paca-hover{
  position:relative;
  left:35px;
  top:10px;
}

.text-block-ara {
  position: absolute;
  top: 330px;
  right: 150px;
  color: $blue-dark;
}

.text-block-bfc {
  position: absolute;
  top: 330px;
  right: 150px;
  color: $blue-dark;
}

.text-block-b {
  position: absolute;
  top: 330px;
  right: 150px;
  color: $blue-dark;
}

.text-block-cvdl {
  position: absolute;
  top: 330px;
  right: 150px;
  color: $blue-dark;
}

.text-block-c {
  position: absolute;
  top: 330px;
  right: 150px;
  color: $blue-dark;
}

.text-block-ge {
  position: absolute;
  top: 330px;
  right: 150px;
  color: $blue-dark;
}

.text-block-hdf {
  position: absolute;
  top: 330px;
  right: 150px;
  color: $blue-dark;
}

.text-block-idf {
  position: absolute;
  top: 330px;
  right: 150px;
  color: $blue-dark;
}

.text-block-n {
  position: absolute;
  top: 330px;
  right: 150px;
  color: $blue-dark;
}

.text-block-na {
  position: absolute;
  top: 330px;
  right: 150px;
  color: $blue-dark;
}

.text-block-o {
  position: absolute;
  top: 330px;
  right: 150px;
  color: $blue-dark;
}

.text-block-pdll {
  position: absolute;
  top: 330px;
  right: 150px;
  color: $blue-dark;
}

.text-block-paca {
  position: absolute;
  top: 330px;
  right: 150px;
  color: $blue-dark;
}

