#ara-hover {
  position:relative;
  left:330px;
  top:288px;
  opacity: 0.7;
}

.text-block-ara {
  position: absolute;
  top: 345px;
  left: 439px;
  h4 {
    font-family: 'Fredoka One';
    font-size: 25px;
    color: $blue-dark;
    }
}

#bfc-hover {
  position:relative;
  left:366px;
  top:188px;
  opacity: 0.7;
}

.text-block-bfc {
  position: absolute;
  top: 240px;
  left: 439px;
  color: $blue-dark;
  h4 {
    font-family: 'Fredoka One';
    font-size: 25px;
    color: $blue-dark;
    }
}

#b-hover {
  position:relative;
  left:40px;
  top:149px;
  opacity: 0.7;
}

.text-block-b {
  position: absolute;
  top: 168px;
  left: 109px;
  color: $blue-dark;
  h4 {
    font-family: 'Fredoka One';
    font-size: 25px;
    color: $blue-dark;
    }
}

#cvdl-hover {
  position:relative;
  left:243px;
  top:153px;
  opacity: 0.7;
}

.text-block-cvdl {
  position: absolute;
  top: 212px;
  left: 302px;
  color: $blue-dark;
  h4 {
    font-family: 'Fredoka One';
    font-size: 25px;
    color: $blue-dark;
    }
}

.text-block-c {
  position: absolute;
  top: 330px;
  right: 150px;
  color: $blue-dark;
  h4 {
    font-family: 'Fredoka One';
    font-size: 25px;
    color: $blue-dark;
    }
}

.text-block-ge {
  position: absolute;
  top: 330px;
  right: 150px;
  color: $blue-dark;
  h4 {
    font-family: 'Fredoka One';
    font-size: 25px;
    color: $blue-dark;
    }
}

.text-block-hdf {
  position: absolute;
  top: 330px;
  right: 150px;
  color: $blue-dark;
  h4 {
    font-family: 'Fredoka One';
    font-size: 25px;
    color: $blue-dark;
    }
}

.text-block-idf {
  position: absolute;
  top: 330px;
  right: 150px;
  color: $blue-dark;
  h4 {
    font-family: 'Fredoka One';
    font-size: 25px;
    color: $blue-dark;
    }
}

.text-block-n {
  position: absolute;
  top: 330px;
  right: 150px;
  color: $blue-dark;
  h4 {
    font-family: 'Fredoka One';
    font-size: 25px;
    color: $blue-dark;
    }
}

.text-block-na {
  position: absolute;
  top: 330px;
  right: 150px;
  color: $blue-dark;
  h4 {
    font-family: 'Fredoka One';
    font-size: 25px;
    color: $blue-dark;
    }
}

.text-block-o {
  position: absolute;
  top: 330px;
  right: 150px;
  color: $blue-dark;
  h4 {
    font-family: 'Fredoka One';
    font-size: 25px;
    color: $blue-dark;
    }
}

#pdll-hover {
  position:relative;
  left:131px;
  top:177px;
  opacity: 0.7;
}

.text-block-pdll {
  position: absolute;
  top: 205px;
  left: 205px;
  color: $blue-dark;
  h4 {
    font-family: 'Fredoka One';
    font-size: 25px;
    color: $blue-dark;
    }
}

.text-block-paca {
  position: absolute;
  top: 330px;
  right: 150px;
  color: $blue-dark;
  h4 {
    font-family: 'Fredoka One';
    font-size: 25px;
    color: $blue-dark;
    }
}

