.category-choices {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 20px 0;
}

.category-choice_1, .category-choice_2, .category-choice_3 {
  background: #4964F6;
  color: white;
  padding: 20px;
  border-radius: 5px;
  margin: 5px 5px;
  opacity: .4;
  flex: 1 0 30%;
  text-align: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: #4964F6;
  color: white;
  opacity: 1;
  }
}

.quiz-form-login {
  background: rgba(250, 250, 250, 0.6);
  color: black;
  padding: 30px 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}

