.switch-box {
  background: #B0D5FC;
  background-size: cover !important;
  height: 100vh;
}

.flexbox {
  display: flex;
  align-items:center;
  height: 80vh;
}

.card-switch-origin {
  height: 230px;
  width: 160px;
  margin: 10px;
  text-align:center;
  padding: 8px 8px 50px 8px;
  border-radius:8px;
  background: #376996;
  color: white;
  box-shadow: 1px 1px 2px #376996;

  p {
    margin: 12.5px 0 12.5px;
    font-size: 18px;
  }
}

.card-switch {
  height: 170px;
  width: 540px;
  margin: 10px;
  text-align:center;
  padding: 8px 8px 50px 8px;
  border-radius:8px;
  background: #376996;
  color: white;
  position: relative;
  box-shadow: 1px 1px 2px #376996;

  p {
    margin: 12.5px 0 12.5px;
    font-size: 18px;
  }
}
.card-switch-origin-detail {
  padding: 10px 30px 0 30px;
  display:flex;
  flex-direction:column;
  height: 100%;
  width: 100%;
  background: white;
  justify-content:space-around;
  align-items:center;
  border-radius:8px;
  color: #376996;

  h3 {
    font-family: 'Fredoka One';
    font-size: 18px;
    margin-top: 8px;
  }
  h4 {
    font-size: 12px;
  }
}

.card-switch-detail {
  padding: 25px 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: white;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  color: #376996;
  h3 {
    font-family: 'Fredoka One';
    font-size: 18px;
    margin-top: 8px;
  }
  h4 {
    font-size: 12px;
  }
}

.switch-runs {
  display: flex;
  text-decoration: none;
    border: none;
    background: none;
  // &:hover {
  //   // border: 2px solid #376996;
  //   background: #B0D5FC;
  //   opacity: 0.8;
  //   border-radius: 20px;
  // }
}

.card-date-switch {
  position: relative;
  top: -220px;
  left: 40px;
  background: #376996;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-switch-details {
  font-family: 'Fredoka One';
  text-align: center;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}
