<div class = "banner-index-switch">
  <div class="dash-flexbox dash-flex-column text-center">
      <h1>Changez de course</h1>
     <!--  <%#= form_tag races_path, class: "form-inline", method: :get do %>
        <div class="form-group">
          <%#= select_tag "department", options_for_select(@departments_options), prompt: 'filtrez par département', class: "form-control"%>
        </div>
        <div class="form-group">
          <%#= submit_tag "RUN", :class => "btn btn-primary btn-primary-er" %>
        </div>
        <%#end%> -->
  </div>
</div>
<div class="container race-results">
  <div class="row ">
    <% @switch_runs.each do |race| %>
    <div class="col-xs-12 col-sm-3">
      <%= form_for @run, method: :patch do |f| %>
        <%= f.hidden_field :race, value: race.id %>
        <%= f.button :submit, class: 'switch-runs' do %>
          <%= render partial: "shared/cards", locals: {race: race} %>
        <% end %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>



